.thirdContainer {
  width: 33%;

  padding-right: 0.5rem;
}

.cuttingText {
  text-align: center;
  padding-bottom: 3rem;
}

.loremIpsum {
  color: #a1a7b7;
  text-align: center;
  --max-lines: 3;
  --line-height: 1.4;
  line-height: var(--line-height);
  overflow: hidden;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  position: relative;
}

.loremIpsum::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

.expand-btn {
  appearance: none;
  width: 10rem;
  height: 3rem;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: 1px solid white;
  color: #a1a7b7;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 0.5rem;
}

.expand-btn:hover {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: rgb(186, 113, 1);
  background: linear-gradient(
    90deg,
    rgba(186, 113, 1, 1) 24%,
    rgba(242, 179, 0, 1) 84%
  );
}

.expand-btn::before {
  content: "Rozwiń";
}
.expand-btn:checked:before {
  content: "zwiń";
}

.loremIpsum:has(+ .expand-btn:checked) {
  max-height: none;
}

@media screen and (max-width: 960px) {
  .thirdContainer {
    width: 100%;
  }
  .cuttingText {
    padding-bottom: 1.5rem;
  }
  .bottomPanel {
    position: absolute;
    right: 16.6%;
  }

  .expand-btn {
    width: 7rem;
    font-size: 1.1rem;
  }
}
